:root {
  --bp-color-primary: #076652;
  --bp-color-icon: #fff;
  --bp-color-button: none;
  --bp-color-dock: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  --bv-color-track: #ffffff40;
  --bp-color-thumb: var(--bp-color-primary);
  --bp-color-thumb-boxshadow: rgb(0 0 0 / 44%);
  --bp-color-thumb-focus-boxshadow: rgba(7, 102, 82, 0.3);

  --bp-video-width: 100%;
  --bp-video-height: 700px;
}

/* components/video/video */
.bp-videoContainer {
  width: var(--bp-video-width);
  height: var(--bp-video-height);
  position: relative;
}

.bp-video {
  width: 100%;
  height: 100%;
}

/* components/button/button */
.bp-button {
  background: var(--bp-color-button);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.bp-button:hover {
  background: var(--bp-color-primary);
}

.bp-button__bigPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bp-color-primary);
  padding: 15px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* components/dock/dock */

.bp-dock {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: opacity 150ms ease-in-out;
  padding: 1rem;
  background: var(--bp-color-dock);
}

/* components/range/range */
.bp-track__wrapper {
  display: flex;
  width: 100%;
  height: 36px;
}

.bp-track {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  align-self: center;
}

.bp-thumb {
  cursor: pointer;
  z-index: 100;
  background: var(--bp-color-thumb);
  border: 5px solid var(--bp-color-thumb);
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 var(--bp-color-thumb-boxshadow);
  width: 10px;
  height: 10px;
  outline: none;
  line-height: 38;
}

.bp-thumb:focus-within {
  box-shadow: 0 0 0 5px var(--bp-color-thumb-focus-boxshadow);
}

/* components/controls/controls */
.bp-controls {
  display: flex;
  justify-content: space-between;
}

.bp-controls__items {
  display: flex;
  grid-gap: 10px;
}

/* components/controls/timeIndicator */
.bp-timeIndicator {
  display: flex;
  align-items: center;
  color: var(--bp-color-icon);
  grid-gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
